@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>THE STRANGE STORE</h1>
    <p class="lead">Have Fun Shopping</p>
    <p><a href="http://removeandreplace.com/wp-content/uploads/2013/05/EMERGENCY-MOUSTACHES.jpg" class="btn btn-primary btn-lg">Products &raquo;</a></p>
</div>


  
