<div class="container">

  <h1>Shopping Cart</h1>
  <ul class="cart">
    <p><% @cart_items.each do |item| %>
        <li> <%= item.name %>, $<%= item.price %>
          <form action="/remove_from_cart" method="post">
            <input type="hidden" name="id" value="<%=item.id%>">
            <input type="submit" value="Remove from Cart">
          </form>
        </li>
    <%end%></p>
  </ul>

  <br>
  <p id="cart-total"> Total: $<%= @cart_items.reduce(0) { |sum, obj| sum + obj.price } %></p>
  <br>

  <form action="/buy_now" method="post">
      <input type="submit" value="Buy Now">
  </form>
  <br>
  <form action="/products" method="post">
    <input type="submit" value="Continue Shopping">
  </form>

  <br>
  <form action="/log_out" method="post">
      <input type="submit" value="Log Out">
  </form>
</div>