<div class="container">
  <img id='logo' src="http://newnoisemagazine.com/wp-content/uploads/2014/08/Pinup-Girl-Clothing-logo-2014.jpg">
  <h1>Shopping Cart</h1>

  <% @cart_items.each do |item| %>
      <li> <%= item.name %>, $<%= item.price %></li>
  <%end%>
  <br>
  <li> Total: $<%= @cart_items.reduce(0) { |sum, obj| sum + obj.price } %></li>
  <br>
  <form action="/buy_now" method="post">
      <input type="submit" value="Buy Now">
  </form>
  <form action="/products" method="post">
    <input type="submit" value="Continue Shopping">
  </form>
  <br>
  <form action="/log_out" method="post">
      <input type="submit" value="Log Out">
    </form>
</div>